@import url( 'https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap' );
@import "colors";

// Typography definition
$main_font_family: 'Rubik', Arial, Sans_serif;

$font_size_smallest: 11px;
$font_size_small: 12px;
$font_size_smaller: 13px;
$font_size_normal: 14px;
$font_size_medium: 16px;
$font_size_larger: 18px;
$font_size_large: 20px;
$font_size_largest: 24px;

$font_weight_light: 300;
$font_weight_normal: 400;
$font_weight_bold: 500;
$font_weight_boldest: 500;